#Article {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
}

#Article header {
    padding: 15px;
}

#Article header h1 {
    font-size: 25px;
    color: #000000;
    margin-bottom: 10px;
}

#Article header .clf {
    font-size: 12px;
}

#Article header .author {
    color: #27cdb9;
    margin-right: 6px;
}

#Article header .date {
    color: #999;
    margin-right: 6px;
}

#Article header .grade {
    display: none;
    color: #0dc4ae;
    padding: 1px 6px;
    border: 1px solid #0dc4ae;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#Article header .favor,
#Article header .commit {
    position: fixed;
    right: 18px;

}

#Article header .favor {
    top: 96px;
}

#Article header .commit {
    top: 150px;
}

#Article header .commit img.active,
#Article header .commit.active img.normal,
#Article header .favor img.active,
#Article header .favor.active img.normal {
    display: none;
}

#Article header .commit.active img.active,
#Article header .commit img.normal,
#Article header .favor.active img.active,
#Article header .favor img.normal {
    display: inline-block;
}

#Article .article-content {
    color: #2b2b2b;
    font-size: 15px;
    padding: 15px;
    line-height: 2;
    overflow: hidden;
}

#Article .article-other {
    height: 35px;
    padding: 6px 15px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 12px;
}

#Article .article-other .tags {
    float: left;
}

#Article .article-other .tags span {
    display: inline-block;
    margin-right: 6px;
    padding: 0 6px;
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#Article .article-other .fr {
    color: #808080;
}

#Article .article-other .fr span {
    padding-left: 18px;
}

#Article .article-other .page-view {
    margin-right: 14px;
}

#Article .article-other .page-view img,
#Article .article-other .praise img {
    vertical-align: text-bottom;
}

#Article .article-other .page-view b,
#Article .article-other .praise b {
    font-weight: normal;
}

#Article .article-other .praise img.normal,
#Article .article-other .praise.active img.active {
    display: inline-block;
}

#Article .article-other .praise img.active,
#Article .article-other .praise.active img.normal {
    display: none;
}

#Article .attention {
    height: 94px;
    padding: 15px;
    border: 1px solid #e6e6e6;
    background-color: #f5f5f5;
    margin: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#Article .attention .fl p {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0 15px;
    font-size: 14px;
    color: #999;
}

#Article .attention .fl img {
    width: 64px;
    height: 64px;
}

#Article .attention .attention-btn {
    padding: 0 18px;
    color: #0ec4ae;
    border: 1px solid #0ec4ae;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    font-size: 18px;
    margin-top: 15px;
    display: inline-block;
    line-height: 30px;
}

#Article .attention .attention-btn b {
    font-size: 24px;
    font-weight: normal;
    margin-right: 6px;
}

#Article .attention .attention-btn:focus {
    background-color: #0ec4ae;
    color: #ffffff;
}

#Article .article-source {
    padding: 15px 15px 30px;
    border-bottom: 1px solid #e5e5e5;
}

#Article .article-source p {
    color: #999999;
    font-size: 12px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 6px;
    margin-bottom: 12px;
}

#Article .article-source img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#Article .article-source .fl span {
    font-size: 16px;
    vertical-align: top;
    line-height: 32px;
}

#Article .article-source .fr {
    font-size: 14px;
    color: #999999;
    line-height: 32px;
}

#Article .article-comment {
    width: 100%;
    padding: 15px;
    background-color: #f4f4f4;
}

#Article .article-comment-header {
    padding: 15px 0 22px;
}

#Article .article-comment-header h3 {
    position: relative;
    text-align: center;
    color: #9e9e9e;
    font-size: 17px;
    margin-bottom: 10px;
    height: 18px;
}

#Article .article-comment-header h3 .dash-line {
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px dotted #e5e5e5;
}

#Article .article-comment-header h3 span {
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-block;
    padding: 0 6px;
    background-color: #f4f4f4;
    margin-left: -28px;
}

#Article .article-comment-header p {
    text-align: right;
}

#Article .article-comment-header p a {
    font-size: 17px;
    color: #6684aa;
}

#Article .article-comment-list {
}

#Article .article-comment-item {
    margin-bottom: 30px;
    font-size: 14px;
}

#Article .article-comment-item .reviewer-avatar {
    float: left;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 9px;
}

#Article .article-comment-item .article-comment-item-right {
    overflow: hidden;
}

#Article .reviewer-info h4 {
    color: #777;
    margin-bottom: 6px;
}

#Article .reviewer-info-liked {
    float: right;
    padding-left: 18px;
    height: 21px;
    background: url("../img/article-comment-praise.png") no-repeat 0 0;
    cursor: pointer;
    margin-top: -3px;
}

#Article .reviewer-info-liked.active {
    background-position: 0 -21px;
}

#Article .reviewer-info-date {
    margin-top: 3px;
    color: #8d8d8d;
    font-size: 12px;
}

#Article .author-comment {
    margin-top: 6px;
    padding-top: 9px;
    border-top: 1px solid #e5e5e5;
}

#Article .author-comment h4 {
    line-height: 14px;
    margin-bottom: 6px;
    padding-left: 6px;
    border-left: 3px solid #00ba00;
}

#Article .author-comment-content {
    padding-left: 9px;
}

#Article .author-comment-date {
    margin-top: 3px;
    padding-left: 9px;
    color: #8d8d8d;
    font-size: 12px;
}

#Article .article-statement {
    text-align: center;
    color: #999999;
    padding: 15px 0;
    line-height: 1.8;
    font-size: 12px;
}

#Article .article-statement a {
    color: #27cdb9;
}

@media screen and (min-width: 1024px) {
    body,
    .comment-body,
    .feedback-body {
        width: 740px;
        margin-left: auto;
        margin-right: auto
    }
}

/*音频*/
.audio-box {
    border: 1px solid #ebebeb;
    background-color: #fcfcfc;
    overflow: hidden;
    padding: 12px 20px 12px 12px;
    display: block;
    margin: 17px 1px 16px 0;
    font-size: 0;
    position: relative;
    font-weight: 400;
    text-decoration: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

.audio-box .audio-start {
    float: left;
    margin: 9px 22px 10px 5px;
    display: inline-block;
    font-size: 0;
    width: 19px;
    height: 25px;
}

.audio-box .audio-start .audio-read {
    width: 100%;
    height: 100%;
    background: transparent url("../img/icon_audio_read.png") no-repeat 0 0;
    -webkit-background-size: 19px auto;
    background-size: 19px auto;
}

.audio-box .audio-start .audio-read.ing {
    -webkit-animation: reading infinite 1.1s;
    -o-animation: reading infinite 1.1s;
    animation: reading infinite 1.1s;
}

@keyframes reading {
    0% {
        width: 6px;
    }
    33.9999%{
        width: 6px;
    }
    34% {
        width: 12px;
    }
    66.9999%{
        width: 12px;
    }
    67% {
        width: 19px;
    }
    99.9999%{
        width: 19px;
    }
}

.audio-box .audio-time {
    float: right;
    font-size: 14px;
    margin-top: 3px;
    margin-left: 1em;
    color: #8c8c8c;
}

.audio-box .audio-info {
    display: block;
    overflow: hidden;
}

.audio-box .audio-info p {
    font-size: 17px;
    margin-top: -2px;
    margin-bottom: -3px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.audio-box .audio-info span {
    font-size: 14px;
    color: #8c8c8c;
}

.audio-box audio{
    display: none;
}

.audio-box .progress-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0cbb08;
    width: 0;
    height: 2px
}

.rich_media_content *{
    max-width: 100%!important;
    box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
    word-wrap: break-word!important;
}

/*未登录*/
#Article.role-tourist{
    padding-bottom: 100px;
}
#Article .tourist{
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3333;
    width: 100%;
    height: 100px;
    background-color: rgba(255,255,255,.8);
}
#Article .tourist-close{
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 2;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #fff;
    color: #9B9B9B;
}

#Article .tourist-close:focus{
    background-color: #4fe3c1;
    color: #fff;
}

#Article .tourist-logo{
    float: left;
    width: 64px;
    height: 64px;
    margin: 18px 15px 18px 30px;
}
#Article .tourist-info{
    margin: 26px 0;
    font-size: 16px;
    color: #999;
}

#Article .tourist-qrcode{
    position: absolute;
    top: 12px;
    right: 17%;
    z-index: 2;
    width: 76px;
    height: 75px;
}









#Article.role-tourist .tourist{
    display: block;
}