#Index {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 48px 0;
    background-color: #f3f3f3;
}

#Index nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #fff;
}

#Index nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(230, 230, 230);
    transform: scaleY(0.5);
    transform-origin: 0 0 0;
}


#Index nav::-webkit-scrollbar {
    display: none;
    opacity: 0;
}

#Index nav .plus {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    /*width: 40px;*/
    width: 15px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    text-align: center;
    /*background: url("../img/plus-bg.png") no-repeat 0 0;*/
    background: url("../img/bg-shadow.png") no-repeat 0 0;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    opacity: .7;
}

#Index nav ul {
    position: absolute;
    left: 0;
    top: 0;
    height: 48px;
    font-size: 17px;
}

#Index nav li {
    float: left;
    height: 48px;
    padding: 0 3px;
    margin-left: 15px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

#Index nav li.active {
    color: #0ec4af;
    border-bottom: 3px solid #0ec4af;
}

#Index section {
    display: none;
    background-color: #fff;
}

#Index section ul {
    float: left;
}

#Index section li {
    position: relative;
    width: 100%;
    height: 112px;
    padding: 17px;
}

#Index section li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(230, 230, 230);
    transform: scaleY(0.5);
    transform-origin: 0 0 0;
}

#Index section li a {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
}

#Index section li a.visited h4{
    color: #919191;
}

#Index section li img {
    display: block;
    float: left;
    width: 111px;
    height: 78px;
    margin-right: 10px;
}

#Index section li h4 {
    font-size: 17px;
    height: 48px;
    line-height: 24px;
    margin-bottom: 16px;
    overflow: hidden;
    color: #000000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#Index section li p {
    height: 15px;
    line-height: 15px;
    font-size: 13px;
    color: #9b9b9b;
}

#Index section li p span {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
}

#Index section li p .author {
    margin-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#Index section li p .page-view{
    max-width: 68px;
}

#Index section li p .page-view img{
    width: 17px;
    height: 12px;
    display: inline;
    float: none;
    position: relative;
    top: 1px;
    margin-right: 2px;
}

#Index .refresh-node {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #eee;
    color: #0ec4af;
}
