#Labels {
    width: 100%;
    height: 100%;
    position: relative;
    background: #fff url("../img/labels-dial.png") no-repeat 0 45px;
    -webkit-background-size: 100%;
    background-size: 100%;
    overflow: hidden;
}

#Labels .tags{
    position: relative;
}

#Labels .tags > div {
    position: absolute;
}

#Labels p {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    color: #9b9b9b;
    text-align: center;
    font-size: 14px;
}

#Labels .yellow {
    width: 62px;
    height: 62px;
    line-height: 58px;
    border: 1px solid #FFD199;
    color: #F5A623;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(251, 227, 126, 0.4);
}

#Labels .yellow.active {
    background: #ffc766;
    color: #ffffff;
}

#Labels .cyan {
    width: 52px;
    height: 52px;
    line-height: 48px;
    border: 1px solid #73e6d8;
    color: #0EC4AF;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 6px 10px rgba(115, 230, 216, .4);
}

#Labels .cyan.active {
    background: #50e3c2;
    color: #ffffff;
}

#Labels .circle-1 {
    top: 50px;
    left: 52px;
    font-size: 16px;
}

#Labels .circle-2 {
    width: 60px;
    height: 60px;
    line-height: 56px;
    top: 71px;
    left: 169px;
    font-size: 18px;
}

#Labels .circle-3 {
    top: 111px;
    left: 261px;
}

#Labels .circle-4 {
    top: 155px;
    left: 80px;
}

#Labels .circle-5 {
    top: 222px;
    left: 294px;
}

#Labels .circle-6 {
    top: 221px;
    left: 21px;
}

#Labels .circle-7 {
    top: 290px;
    left: 149px;
}

#Labels .circle-8 {
    top: 345px;
    left: 275px;
}

#Labels .circle-9 {
    top: 345px;
    left: 49px;
}

#Labels .circle-10 {
    top: 395px;
    left: 178px;
}
