#Labels {
    width: 100%;
    height: 100%;
    position: relative;
    background: #fff url("../img/labels-dial.png") no-repeat 0 45px;
    -webkit-background-size: 100%;
    background-size: 100%;
    overflow: hidden;
}

#Labels .tags > div {
    position: absolute;
}

#Labels p {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    color: #9b9b9b;
    text-align: center;
    font-size: 14px;
}

#Labels .yellow {
    width: 58px;
    height: 58px;
    line-height: 58px;
    border: 1px solid #FFD199;
    color: #F5A623;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(251, 227, 126, 0.4);
}

#Labels .yellow.active {
    background: #ffc766;
    color: #ffffff;
}

#Labels .cyan {
    width: 49px;
    height: 49px;
    line-height: 49px;
    border: 1px solid #73e6d8;
    color: #0EC4AF;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 6px 10px rgba(115, 230, 216, .3);
}

#Labels .cyan.active {
    background: #50e3c2;
    color: #ffffff;
}

#Labels .circle-1 {
    top: 44px;
    left: 48px;
}

#Labels .circle-2 {
    top: 65px;
    left: 151px;
}

#Labels .circle-3 {
    top: 113px;
    left: 237px;
}

#Labels .circle-4 {
    top: 131px;
    left: 72px;
}

#Labels .circle-5 {
    top: 195px;
    left: 218px;
}

#Labels .circle-6 {
    top: 221px;
    left: 21px;
}

#Labels .circle-7 {
    top: 258px;
    left: 131px;
}

#Labels .circle-8 {
    top: 252px;
    left: 220px;
}

#Labels .circle-9 {
    top: 303px;
    left: 38px;
}

#Labels .circle-10 {
    top: 347px;
    left: 170px;
}
